
<div>
    <form [formGroup]="collegeForm">
        <div>
            <!-- <p-card> -->
                <p-panel header="Enroll List" [toggleable]="false">
                    <div class="p-grid p-fluid">
                        <div class="p-col-12 p-md-12 p-sm-12 p-lg-3">
                            <h5 class="first">Name</h5>
                            <input type="text" pInputText placeholder="Enter Name" formControlName="name" />
                        </div>
                        <div class="p-col-12 p-md-12 p-sm-12 p-lg-3">
                            <h5 class="first">Contact No.</h5>
                            <input type="text" pInputText placeholder="Enter Contact No." formControlName="contactno" />
                        </div>
                        <div class="p-col-12 p-md-12 p-sm-12 p-lg-3">
                            <h5 class="first">Department</h5>
                            <p-dropdown [options]="deptValues" placeholder="Select Department" optionLabel="label"
                            formControlName="dept"  [showClear]="true"></p-dropdown>
                        </div>
                    <!-- </div>
                    <div class="p-grid p-fluid">
                    <div class="p-col-12 p-md-12 p-sm-12 p-lg-8  p-xl-10"></div> -->
                        <div class="p-col-12 p-md-6 p-sm-12 p-lg-2 p-xl-1">
                            <h5></h5>
                            <button pButton pRipple type="button" icon="pi pi-undo" label="Reset" class="reset"></button>
                        </div>
                        <div class="p-col-12 p-md-6 p-sm-12 p-lg-2 p-xl-1">
                            <h5></h5>
                            <button pButton pRipple type="button" icon="pi pi-search" label="Search" class="search"></button>
                        </div>
                    </div>
                </p-panel>
                    <p-card>
                    <div>
                        <p-table [columns]="cols" [value]="tableData" styleClass="p-datatable-gridlines p-datatable-responsive-demo">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr>
                                    <td *ngFor="let col of columns">
                                        <!-- <span class="p-column-title">{{col.header}}</span> -->
                                        {{rowData[col.field]}}
                                        <div *ngIf="col.header === 'Actions'">
                                            <button pButton icon="pi pi-pencil" type="button" pTooltip="Edit" tooltipPosition="top"
                                            class="ui-button-warning" >
                                            </button>&nbsp;
                                           <p-button (click)="confirm2()" pTooltip="Delete" tooltipPosition="top" icon="pi pi-trash" ></p-button>&nbsp;
                                         
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </p-card>
               
            <!-- </p-card> -->
        </div>
    </form>
</div>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>