.buttons{
    float: right;
}
::ng-deep .p-card .p-card-content{
    padding: 1px;
}
.clg{
    margin-bottom: 1px;
}
.cancelbutton{
    float: right;
    width: 100px;
    margin-left: 4px;
    margin-right: 1px;
}
// .sbtn{
//     width: 100px;
//     margin-right: 2px;

// }